<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>nbx.in | {% block title %}url shortener{% endblock title %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="http://getbootstrap.com/examples/cover/cover.css" />
        {% block styles %}
        <style media="screen">
            body{
                background-color: #1F9BD7;
            }
            .btn-link{
                color: #6aefb6;
            }
            .btn-link:focus, .btn-link:hover{
                color: #6aefb6;
                text-shadow: none;
            }
        </style>
        {% endblock styles %}
    </head>
    <body>
        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <!-- <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">nbx.in</h3>
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div> -->

                    <div class="inner cover">
                        {% block content %}

                        {% endblock content %}
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <!-- <p>URL shortener service by <a href="http://neubox.com">Neubox</a>.</p> -->
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </body>
</html>
